<div id="<%= dom_id home %>" 
    data-action="mouseover->home#addMarker click->home#selectHome" 
    data-home-id="<%=home.id%>"
    data-home-target="marker"
    data-home-latitude=<%=home.latitude%>
    data-home-longitude=<%=home.longitude%>>

    <p><%= home.name %><br/><%=home.latitude%>/<%=home.longitude%></p>
</div>