<div id="container" data-controller="home" data-action="turbo:submit-end->home#render turbo:before-render->home#render">
<div style="margin-left:4.5em;position:absolute; z-index:999">
<h1>หาบ้านเหรอ? ปรึกษาเราสิครับ!</h1>
</div>
    <div id="mapid"></div>
    <div id="home-listing">
        <h1>Places listing</h1>

        <%= turbo_stream_from :homes %>

        <%= turbo_frame_tag :homes do %>
            <% @homes.each do |home| %>
                <%= render "home_details", home: home %>
            <% end %>
        <% end %>

        <%= turbo_frame_tag :new_home do %>
            <p><%= link_to 'New Home', new_home_path %></p>
        <% end %>
    </div>
</div>